body {
    background-color: rgb(128, 128, 128);
    margin: 0px;
    border: solid white 4px;
    font-family: 'Times New Roman', Times, serif;
}

.introdução


.Paginas{
display: flex;
}

.Gols-do-ano{
    padding-left: 10px;
    padding-right: 10px;
}

.Jogadores{
  padding-left: 10px;  
  padding-right: 10px;
}

.Contratações{
    padding-left: 10px;
    padding-right: 10px;
  
}

.Noticias{
    border-top: solid 4px white;
    padding-left: 5px;
    display: flex;
    overflow-x: auto;
  
}

.Tabela {
    background-color: rgb(0, 100, 55);
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: solid 4px white;
    padding-left: 10px;
    padding-right: 10px;
    overflow-x: auto;
}

td {
    padding-left: 20px;
    padding-right: 20px;
}

.jogos {
    background-color: rgb(1, 105, 55);
    border-bottom: solid 4px white;
    border-top: solid 4px white;
    overflow-x: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.jogos img {
    height: 250px;
    width: 250px;
    padding-left: 10px;
}

.Escalações {
    background-color: rgb(0, 100, 55);
    border-bottom: solid 4px white;
    border-top: solid 4px white;
    overflow-x: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 10px;


}

.Escalações img {
    height: 250px;
    width: 250px;
    padding-left: 10px;
}

.Video-jogos {
    background-color: rgb(1, 105, 55);
    border-bottom: solid 4px white;
    border-top: solid 4px white;
    display: flex;
    overflow-x: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.Video-1 img {
    width: 360px;
    height: 230px;
    padding-left: 10px;
    opacity: 0.5;

}

.Video-1 img:hover {
    opacity: 1.0;
    border: solid 5px rgb(80, 200, 120);
    padding-left: 0px;
}

.Video-2 img {
    width: 360px;
    height: 230px;
    padding-left: 10px;
    opacity: 0.5;
}

.Video-2 img:hover {
    opacity: 1.0;
    border: solid 5px rgb(80, 200, 120);
    padding-left: 0px;
}

.Video-3 img {
    width: 360px;
    height: 230px;
    padding-left: 10px;
    opacity: 0.5;
}

.Video-3 img:hover {
    opacity: 1.0;
    border: solid 5px rgb(80, 200, 120);
    padding-left: 0px;
}

.Video-4 img {
    width: 360px;
    height: 230px;
    padding-left: 10px;
    opacity: 0.5;
}

.Video-4 img:hover {
    opacity: 1.0;
    border: solid 5px rgb(80, 200, 120);
    padding-left: 0px;
}

.Video-5 img {
    width: 360px;
    height: 230px;
    padding-left: 10px;
    opacity: 0.5;
}

.Video-5 img:hover {
    opacity: 1.0;
    border: solid 5px rgb(80, 200, 120);
    padding-left: 0px;
}


h1 {
    font-size: 40px;
    color: rgb(0, 0, 0);
    padding-left: 10px;
}

h2 {
    color: rgb(0, 0, 0);
    padding-right: 10px;
    padding-left: 10px;
}
h3 {
    font-size: 20px;
    padding-left: 10px;
    display: block;
}

h4{
    font-size: 20px;
    
    
}

p {
    font-size: 25px;
    color: rgb(0, 0, 0);
}


